* {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

header {
    height: 150px;
    /* padding: 40px; */
    background-color: navy;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* main {
    height: 70vh;
} */

section {
    margin: 5% auto;
    width: 40%;
}

p {
    padding: 10px 0;
}

button {
    margin: 5px;
    padding: 15px;
    background-color: azure;
    display: block;
}

button:hover {
    background-color: cornflowerblue;
    cursor: pointer;
}

form {
    padding: 10px 0;
}

footer {
    height: 150px;
    /* padding: 40px; */
    background-color: navy;
    color: white;
    text-align: center;
}

footer p {
    padding-top: 30px;
}

#timer-box {
    margin: 5px;
    padding: 15px;
    width: 150px;
    background-color: azure;
    display: block;
    text-align: center;
}

.hidden {
    display: none;
}